    <uib-tabset>



        <uib-tab heading="Matches" >

            <div align="center" class="alert alert-success" ng-if="matches.length<1">Pas de matches </div>
            <div align="center" class="alert alert-success" ng-if="histoMatches.length<1">Pas de matches dans l'historique </div>


            <ul ng-if="matches.length>0" class="list-group col-md-6">
                <div align="center">
                    <h2>Matches en cours</h2>
                </div>
                <li class="list-group-item" ng-class="{bg:(matches.indexOf(match)%2==1)}"  ng-repeat="match in matches | orderBy: 'date'">
                    <div class="media">
                        <div class="row">
                            <div class="col-md-3">
                                <div><a class="h5">{{match.prenom}} {{match.nom}}</a></div>
                                <small class="text-muted">{{match.dateStr}}</small>
                            </div>

                            <div class="col-md-4" ng-if="match.datePast">
                                <span style="margin-left:60px;" align="center">Resultat</span>
                                <div ng-if="(match.resultat1)&&(match.resultat2=='')" class=" text-success m-t-small">
                                    <span ng-if="match.resultat1==userInfos.id">
                                    <small>Victoire</small>
                                    <i class="fa fa-circle"></i>
                                    <small>(Resultat temporaire)</small>
                                    </span>

                                </div>
                                <div ng-if="(match.resultat1)&&(match.resultat2=='')" class=" text-danger m-t-small">
                                    <span ng-if="match.resultat1!=userInfos.id">
                                    <small>Défaite</small>
                                    <i class="fa fa-circle"></i>
                                    <small>(Resultat temporaire)</small>
                                    </span>
                                </div>

                                <div ng-if="!(match.resultat1)" class=" text-success m-t-small">
                                    <a ng-click="openResult('sm',match);" class="btn btn-sm btn-info pull-right"><i class="fa fa-fw fa-pencil"></i>Entrez votre resultat</a>
                                </div>

                                <div ng-if="match.resultat1>0&&match.resultat2>0&&(match.resultat1!=match.resultat2)" class=" text-success m-t-small">
                                    <div class="alert alert-danger" role="alert">Resultat contraire <span ng-if="match.resultat1==match.idJ1">(victoire)</span> <span ng-if="match.resultat1!=match.idJ1">(defaite)</span> avec votre adversaire veuillez ré entrer le resultat</div>
                                    <a ng-click="openResult('sm',match);" class="btn btn-sm btn-info pull-right"><i class="fa fa-fw fa-pencil"></i>Modifiez votre resultat</a>
                                </div>
                            </div>

                            <div ng-if="!(match.datePast)" class="col-md-5">
                                <a ng-click="deleteMatch(match.id);" class="btn btn-sm btn-danger pull-right">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    Suprimer
                                </a>
                                <a ng-click="openEdit('sm',match)" class="btn btn-sm btn-info pull-right" style="margin-right:10px;"><i class="fa fa-fw fa-pencil"></i> Modifier</a>
                            </div>
                        </div>
                    </div>
                </li>
                <a ng-click="getNextMatches();" class="btn btn-sm btn-default center-block "><i class="fa fa-fw fa-plus"></i>Voir plus</a>

            </ul>

            <ul ng-if="histoMatches.length>0" class="list-group col-md-6">
                <div align="center"><h2>Historique (10 derniers)</h2></div>

                <li class="list-group-item" ng-class="{bg:(histoMatches.indexOf(match)%2==1)}"  ng-repeat="match in histoMatches">
                    <div class="media ">

                        <div class="row">
                            <div class="col-md-3">
                                <div><a class="h5">{{match.prenom}} {{match.nom}}</a></div>
                                <small class="text-muted">{{match.dateStr}}</small>
                            </div>

                            <div  ng-if="match.resultat==userInfos.id" class="col-md-4" ng-class="{'pull-right': (match.aNoter1=='true')}" >Resultat
                                <div class=" text-success m-t-small">
                                    <small>Victoire</small>
                                    <i class="fa fa-circle"></i>
                                    <small ng-if="match.idJ1==userInfos.id">(+{{match.gainJ1}} points)</small>
                                    <small ng-if="match.idJ2==userInfos.id">(+{{match.gainJ2}} points)</small>
                                </div>
                            </div>
                            <div ng-if="match.resultat!=userInfos.id" class="col-md-4" ng-class="{'pull-right': (match.aNoter1=='true')}" >Resultat
                                <div class=" text-danger m-t-small">
                                    <small>Défaite</small>
                                    <i class="fa fa-circle"></i>
                                    <small ng-if="match.idJ1==userInfos.id">(-{{match.perteJ1}} points)</small>
                                    <small ng-if="match.idJ2==userInfos.id">(-{{match.perteJ2}} points)</small>
                                </div>
                            </div>

                            <div ng-if="match.aNoter1===''" class="col-md-5">
                                <a ng-click="openNotes('lg',match);" class="btn btn-sm btn-success pull-right"><i class="fa fa-fw fa-pencil"></i> Noter l'adversaire</a>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </uib-tab>





















        <uib-tab heading="Creer match">

            <form ng-if="!(advanced)" class="navbar-form  shift" align="center" ng-submit="processSearch(simpleSearchText);">
                    <span align="center">
                    <input type="text" name="name" ng-model="simpleSearchText" placeholder="Recherche joueur" ng-required="true">
                    <button type="submit" class="btn btn-sm btn-link"><span  style="font-size: 20px;" class="fa fa-search text-muted"></span> </button>
                    </span>
            </form>
            <div  align="center" class="checkbox" ng-click="initAdvanced();"> <label> <input ng-model="advanced" type="checkbox" name="advancedSearch"> Recheche avancée </label> </div>


            <div align="center" class="alert alert-danger" ng-if="ErrorSearch" role="alert">{{ErrorSearch}}</div>
            <div align="center" class="alert alert-danger" ng-if="createMatchError" role="alert">{{createMatchError}}</div>
            <div align="center" class="alert alert-danger" ng-if="searchResult0" role="alert">Votre recherche n'a retourné aucun résultat, veuillez réduire vos critères.</div>


            <div ng-if="advanced" class="row col-md-6">
                <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Sexe</label>
                    <div class="col-lg-4">
                        <select name="account" ng-model="searchCriteria.sexe" class="form-control">
                            <option value="">Indifferent</option>
                            <option value="H">Homme</option>
                            <option value="F">Femme</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Main forte</label>
                    <div class="col-lg-4">
                        <select name="account" ng-model="searchCriteria.mainForte" class="form-control">
                            <option value="">Indifferent</option>
                            <option value="G">Gauche</option>
                            <option value="D">Droite</option>
                        </select>
                    </div>
                </div>



                <div style="margin-top:40px;" class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <h4>Note minimum :</h4>
                    </div>
                </div>
                <label class="col-lg-3 control-label">Général</label>
                <input-stars  max="10" ng-model="searchCriteria.noteMoyenne" ></input-stars><br/>

                </form>


            </div>


            <div ng-if="simpleSearchSuccessMulti&&(!advanced)" class="table-responsive">
                <div> Plusieurs résultats correspondent à votre recherche, veuiller selectionner</div>
                <table class="table table-hover table-bordered" style="background-color: white">
                    <thead>
                    <tr>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Defier</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="player in simpleSearchResultTab " ng-class="{success: (player.id==userInfos.id) } ">  <td>{{player.prenom}}</td><td>{{player.nom}}</td>
                        <td ng-if="player.id!=userInfos.id">
                            <a ng-click="selectOpponentFromTab(player);"class="btn btn-sm btn-info"><i class="fa fa-fw fa-plus"></i> Selectionner </a>
                        </td>
                        <td ng-if="player.id==userInfos.id">
                            <div>VOUS</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <form ng-show="advanced">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>

                        <input type="text" class="form-control" placeholder="Recherche par prenom"  ng-model="searchPlayer">

                    </div>
                </div>
            </form>




            <div ng-show="advanced&&listUsersAllUnfiltered && (searchPlayer.length>0||searchCriteria.sexe.length>0||searchCriteria.mainForte>0||searchCriteria.noteMoyenne>0)" class="table-responsive">

                <table class="table table-hover table-bordered" style="background-color: white">
                    <thead>
                    <tr>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Sexe</th>
                        <th>Main Forte</th>
                        <th>Defier</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- filter:searchPlayer , prenom: searchPlayer, sexe:searchCriteria.sexe ({nom: searchPlayer} || {prenom: searchPlayer})&&-->
                    <tr ng-repeat="player in listUsersAllUnfiltered | filter:{sexe: searchCriteria.sexe, mainForte: searchCriteria.mainForte} | filter: greaterThan('noteMoyenne', searchCriteria.noteMoyenne-1 ) | filter:{prenom: searchPlayer } " ng-if="player.id!=userInfos.id">  <td>{{player.prenom}}</td><td>{{player.nom}}</td>

                        <td>{{player.sexe}}</td>
                        <td>{{player.mainForte}}</td>
                        <td>
                            <a ng-click="selectOpponentFromTab(player);" class="btn btn-sm btn-info"><i class="fa fa-fw fa-plus"></i> Selectionner </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>








            <form class="form-horizontal" ng-submit="createMatch();">


                <form>
                <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-3">
                        <label class="control-label">Adversaire</label>
                        <input type="text" name="adversaire" ng-model="opponentDisplay" placeholder="Selectionnez un adversaire" class="bg-focus form-control" ng-requided="true" data-type="text"  disabled>
                    </div>
                    <div ng-if="opponent">
                    <label class="control-label">Note Moyenne</label>
                    <input-stars  max="10" ng-model="opponent.noteMoyenne" readonly></input-stars><br/></div>
                </div>

            <div class="form-group">
                <div class="col-lg-8">
                    <label class="col-lg-5 control-label">Date :</label>
                    <input type="datetime-local" ng-model="createMatchVar.datePicker" class="form-control" min="{{dt}}" required style="width:250px;"  >
            </div>
                </div>


                    <div align="center" class="alert alert-success" ng-if="createMatchSucess==true">Match crée avec succès. </div>


                    <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-5">
                        <button type="submit"  class="btn btn-sm btn-info"> <i class="fa fa-fw fa-plus"></i> Défier </button>
                    </div>
                </div>
                </form>


            </form>
            <div class="row md-col-12">

                <p>Suggestions de joueurs</p>
                <div id="MyPillbox" class="pillbox clearfix m-b">
                    <ul>
                        <li ng-repeat="player in suggestPlayers" class="label" ng-class="{'bg-danger': (Math.floor(Math.random() * player.id) + 1)<25  , 'bg-default': (Math.floor(Math.random() * player.id) + 1)>25 && (Math.floor(Math.random() * player.id) + 1)<50 , 'bg-success': (Math.floor(Math.random() * player.id) + 1)>50 && (Math.floor(Math.random() * player.id) + 1)<75  , 'bg-warning': (Math.floor(Math.random() * player.id) + 1)>75 }"><span ng-click="select(player.id);">{{player.nom}} {{player.prenom}}</span> &nbsp; <i ng-click="close(player.id);" class="fa fa-times"></i></li>
                    </ul>
                </div>
            </div>



        </uib-tab>


        <uib-tab heading="Graphiques" ng-click="getMyData();">


            <div align="left" class="col-md-4">
                <h4> Statistiques globales personelles</h4>

            <pie-chart   style="width:300px; height:300px" data="pieChartDataHisto" options="pieOptionsMyHisto"></pie-chart>

            </div>

            <div ng-if="tabAdv.length>0" class="table-responsive">
                <h4>Liste des adversaires </h4>
                <table class="table table-hover table-bordered" style="background-color: white">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Historique</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="adv in tabAdv ">  <td>{{adv.nom}}</td><td>{{adv.prenom}}</td>
                        <td>
                            <a ng-click="getHistoData(adv);"class="btn btn-sm btn-info"><i class="fa fa-fw fa-plus"></i> Voir graphiques </a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div align="right" class="col-md-4">
                <h4> Historique des confrontations VS {{advHisto.prenom}} {{advHisto.nom}} </h4>

                <pie-chart   style="width:300px; height:300px" data="pieChartDataAdv" options="pieOptionsMyHisto"></pie-chart>

            </div>

        </uib-tab>





    </uib-tabset>
