<section class="panel">

    <uib-tabset>



        <uib-tab heading="Matches">
            <header class="panel-heading">

            </header>

            <form class="navbar-form pull-left shift ng-pristine ng-valid">
                <i class="fa fa-search text-muted"></i>
                <input type="text" class="input-sm form-control" placeholder="Search">
            </form>
            <ul class="list-group col-md-6">
                <div align="center"><h2>Matches en cours</h2></div>
                <li class="list-group-item">
                    <div class="media">
                        <span class="pull-left thumb-small"><img src="images/avatar.jpg" alt="John said" class="img-rounded"></span>
                        <div class="row">
                        <div class="col-md-3">
                            <div><a href="#" class="h5">Chris Fox</a></div>
                            <small class="text-muted">about 2 minutes ago</small>
                        </div>

                        <div class="col-md-2">Resultat
                            <div class=" text-success m-t-small">
                                <small>Victoire</small>
                                <i class="fa fa-circle"></i>
                                <small>(Resultat temporaire)</small>
                            </div>
                        </div>

                        <div class="col-md-5">
                        <a class="btn btn-sm btn-danger pull-right" data-toggle="modal" href="#modal"><i class="fa fa-fw fa-trash"></i> Suprimer</a>
                        <a class="btn btn-sm btn-info pull-right" data-toggle="modal" href="#modal"><i class="fa fa-fw fa-pencil"></i> Modifier</a>
                        </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg">
                    <div class="media">
                        <span class="pull-left thumb-small"><img src="images/avatar.jpg" alt="John said" class="img-rounded"></span>
                        <div class="pull-right text-success m-t-small">
                            <i class="fa fa-circle"></i>
                        </div>
                        <div class="media-body">
                            <div><a href="#" class="h5">Amanda Conlan</a></div>
                            <small class="text-muted">about 2 hours ago</small>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <span class="pull-left thumb-small"><img src="images/avatar.jpg" alt="John said" class="img-rounded"></span>
                        <div class="pull-right text-warning m-t-small">
                            <i class="fa fa-circle"></i>
                        </div>
                        <div class="media-body">
                            <div><a href="#" class="h5">Dan Doorack</a></div>
                            <small class="text-muted">3 days ago</small>
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg">
                    <div class="media">
                        <span class="pull-left thumb-small"><img src="images/avatar.jpg" alt="John said" class="img-rounded"></span>
                        <div class="pull-right text-danger m-t-small">
                            <i class="fa fa-circle"></i>
                        </div>
                        <div class="media-body">
                            <div><a href="#" class="h5">Lauren Taylor</a></div>
                            <small class="text-muted">about 2 minutes ago</small>
                        </div>
                    </div>
                </li>
                <a class="btn btn-sm btn-default center-block "><i class="fa fa-fw fa-plus"></i>Voir plus</a>

            </ul>


            <ul class="list-group col-md-6">
                <div align="center"><h2>Historique</h2></div>
                <li class="list-group-item">
                    <div class="media">
                        <span class="pull-left thumb-small"><img src="images/avatar.jpg" alt="John said" class="img-rounded"></span>

                        <div class="row">
                            <div class="col-md-3">
                                <div><a href="#" class="h5">Chris Fox</a></div>
                                <small class="text-muted">about 2 minutes ago</small>
                            </div>

                            <div class="col-md-2">Resultat
                                <div class=" text-success m-t-small">
                                    <small>Victoire</small>
                                    <i class="fa fa-circle"></i>
                                    <small>(+15)</small>
                                </div>
                            </div>

                                <div class="col-md-5">
                                <a class="btn btn-sm btn-success pull-right" data-toggle="modal" href="#modal"><i class="fa fa-fw fa-pencil"></i> Noter l'adversaire</a>
                                </div>
                            </div>
                    </div>
                </li>
                <li class="list-group-item bg">
                    <div class="media">
                        <span class="pull-left thumb-small"><img src="images/avatar.jpg" alt="John said" class="img-rounded"></span>
                        <div class="pull-right text-success m-t-small">
                            <i class="fa fa-circle"></i>
                        </div>
                        <div class="media-body">
                            <div><a href="#" class="h5">Amanda Conlan</a></div>
                            <small class="text-muted">about 2 hours ago</small>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <span class="pull-left thumb-small"><img src="images/avatar.jpg" alt="John said" class="img-rounded"></span>
                        <div class="pull-right text-warning m-t-small">
                            <i class="fa fa-circle"></i>
                        </div>
                        <div class="media-body">
                            <div><a href="#" class="h5">Dan Doorack</a></div>
                            <small class="text-muted">3 days ago</small>
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg">
                    <div class="media">
                        <span class="pull-left thumb-small"><img src="images/avatar.jpg" alt="John said" class="img-rounded"></span>
                        <div class="pull-right text-danger m-t-small">
                            <i class="fa fa-circle"></i>
                        </div>
                        <div class="media-body">
                            <div><a href="#" class="h5">Lauren Taylor</a></div>
                            <small class="text-muted">about 2 minutes ago</small>
                        </div>
                    </div>
                </li>
                <a class="btn btn-sm btn-default center-block"><i class="fa fa-fw fa-plus"></i>Voir plus</a>
            </ul>



        </uib-tab>

        <uib-tab heading="Creer match">

            <form class="navbar-form pull-left shift ng-pristine ng-valid">
                <i class="fa fa-search text-muted"></i>
                <input type="text" class="input-sm form-control" placeholder="Search">
            </form>
            <div class="m-b row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"  alt-input-formats="altInputFormats" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                </div>
            </div>
            <div class="list-group"><a class="btn btn-sm btn-info" data-toggle="modal" href="#modal"><i class="fa fa-fw fa-plus"></i> Créer</a></div>

            <div class="form-group">
                <label class="col-lg-3 control-label">Adversaire</label>
                <div class="col-lg-8">
                    <input type="text" name="adversaire" ng-model="opponentDisplay" placeholder="Selectionnez un adversaire" class="bg-focus form-control" ng-requided="true" data-type="text" disabled>
                </div>
            </div>

            <p>Suggested players</p>
            <div id="MyPillbox" class="pillbox clearfix m-b">
                <ul>
                    <li class="label bg-default">Item One</li>
                    <li class="label bg-success">Item Two</li>
                    <li class="label bg-warning">Item Three</li>
                    <li ng-repeat="player in players" class="label bg-danger"><span ng-click="select(player.id);">{{player.nom}} {{player.prenom}}</span> &nbsp; <i ng-click="close(player.id);" class="fa fa-times"></i></li>
                </ul>
            </div>

        </uib-tab>




    </uib-tabset>


</section>