<!-- header -->
<header id="header" class="navbar">
    <ul class="nav navbar-nav navbar-avatar pull-right">
        <div uib-dropdown is-open="status.isopen">
            <a class="dropdown-toggle"  uib-dropdown-toggle ng-disabled="disabled">
                <span class="hidden-xs-only">{{userInfos.prenom}} {{userInfos.nom}}</span>
                <span class="thumb-small avatar inline"><img src="styles/images/{{rankUser}}.png" alt="rank" class="img-circle"></span>
                <b class="caret hidden-xs-only"></b>
            </a>
            <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li align="center" role="menuitem">Points :  {{userInfos.points}}</li>
                <li align="center" role="menuitem">Rang : {{rankUser}} </li>
                <li role="menuitem"><a ng-click="disconnect();">Deconnexion</a></li>
            </ul>
        </div>
    </ul>
    <a class="navbar-brand">BadminTown</a>
    <button type="button" class="btn btn-link pull-left nav-toggle visible-xs" data-toggle="class:slide-nav slide-nav-left" data-target="body">
        <i class="fa fa-bars fa-lg text-default"></i>
    </button>

</header>
<!-- / header -->
<!-- nav -->
<nav id="nav" class="nav-primary hidden-xs nav-vertical">
    <ul class="nav" data-spy="affix" data-offset-top="50">

        <li ng-class="{active: partials['showProfile']}"> <a ng-click="displayPartial('showProfile')"><i class="fa fa-edit fa-lg"></i><span>Mon Profil</span></a></li>

        <li ng-class="{active: partials['showNews']}" class="dropdown-submenu">
            <a ng-click="displayPartial('showNews');"><i class="fa fa-list fa-lg"></i><span>News</span></a>
        </li>
        <li ng-class="{active: partials['showMatches']}"><a ng-click="displayPartial('showMatches');"><i class="fa fa-dashboard fa-lg"></i><span>Matchs</span></a></li>

        <li ng-class="{active: partials['showRanking']}"><a ng-click="displayPartial('showRanking');"><i class="fa fa-signal fa-lg"></i><span>Classement</span></a></li>

        <li ng-if="userInfos.admin===true" ng-class="{active: partials['showAdmin']}" class="dropdown">
            <a ng-click="displayPartial('showAdmin');"><i class="fa fa-link fa-lg"></i><span>Admin</span></a>
        </li>
    </ul>
</nav>
<!-- / nav -->
<section id="content">
    <section class="main padder">
        <nav ng-include="'views/partials/profile.html'" ng-controller="ProfileCtrl" ng-if="partials['showProfile']" class="account-nav"></nav>
        <nav ng-include="'views/partials/news.html'" ng-controller="NewsCtrl" ng-if="partials['showNews']" class="account-nav"></nav>
        <nav ng-include="'views/partials/ranking.html'" ng-controller="RankingCtrl" ng-if="partials['showRanking']" class="account-nav"></nav>
        <nav ng-include="'views/partials/matches.html'" ng-controller="MatchCtrl" ng-if="partials['showMatches']" class="account-nav"></nav>
        <nav ng-include="'views/partials/admin.html'" ng-controller="AdminCtrl" ng-if="partials['showAdmin']" class="account-nav"></nav>
    </section>
</section>

<a class="hide slide-nav-block" data-toggle="class:slide-nav slide-nav-left" data-target="body"></a>

